{% extends './layout/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container" style="max-width: 1000px; margin-top: 50px;">
{% comment %} {% if messages %}margin-top: 50px;{% else %}margin-top: 100px;{% endif %} {% endcomment %}
    {% for article in articles reversed %}
    <div class="row mb-3">
        <div class="col-md-12">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm  position-relative">
                <div class="col-lg-4 d-none d-lg-block ">
                  <img src="media/{{ article.image }}" class="img-fluid h-100"  alt="{{ article.image }}">
        
                </div>
                <div class="col-lg-8 p-4 d-flex flex-column">
                    {% comment %} <strong class="d-inline-block mb-2 text-secondary">{{ article.title }} by <i class="text-dark">{{ article.author }}</i></strong> {% endcomment %}
                    <h3 class="mb-0 text-secondary">{{ article.title }}</h3>
                    <span>by <strong><i>{{ article.author }}</i></strong></span>
                    <p class="card-text" style="">{{ article.content|slice:"50"|safe}}</p>
                    <span class="text-secondary ms-2">...</span>
                    <div>
                        <a href="{% url 'article' article.id %}" class="btn btn-success mt-3">Continue reading</a>
                    </div>
                    
                </div>
            </div>
          </div>
    </div>
    {% empty %}
    <div class="row">
        <div class="text-center text-secondary">
            <h2><i>No Blog Post</i></h2>
        </div>
    </div>
    {% endfor %}

    
</div>
       
        
    
{% endblock %}
