{% extends './layout/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container" style="max-width: 1000px;">
        <div class="mt-4">
            <h3 class="fs-2 py-3 fw-bold text-secondary border-bottom mt-4 mb-3">Are you a member?</h3>
            {% if message %}
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Auth Error!</h4>
                <p>{{ message }}</p>
            </div>

            {% endif %}
            <form action="" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label text-lead" for="username">Username</label>
                    <input class="form-control" id="username" name="username" type="text" placeholder="Enter username" >
                </div>
                <div class="mb-3">
                    <label class="form-label text-lead" for="password">Password</label>
                    <input class="form-control" id="password" name="password" type="password" placeholder="Enter password" >
                </div>
                <div class="mb-3">
                    <input class="btn btn-primary" type="submit" value="Login">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
