{% extends './layout/base.html' %}

{% block title %}Search{% endblock %}

{% block content %}
<div class="container" style="max-width: 1000px;
{% if messages %}margin-top: 50px;{% else %}margin-top: 150px;{% endif %}">


    {% for article in articles %}
        <div class="row mb-3">
            <div class="col-md-12">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col-auto d-none d-lg-block ">
                    <img src="{{ article.image.url }}" width="280px" height="280px " alt="{{ article.image }}">
            
                    </div>
                    <div class="col p-4 d-flex flex-column position-relative">
                        <strong class="d-inline-block mb-2 text-secondary">{{ article.title }} by <i class="text-dark">{{ article.author }}</i></strong>
                        <h3 class="mb-0">{{ article.category }}</h3>
                        <p class="card-text" style="">{{ article.content|slice:"50"|safe}}</p>
                        <span class="text-secondary ms-2">...</span>
                        <a href="{% url 'article' article.id %}" class="position-absolute stretched-link d-block btn btn-success mt-3" style="bottom: 20px;">Continue reading</a>
                        
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
    <div class="row justify-content-center">
        <div class="col-7">
            <div class="card p-5" style="border: solid black 2px;">
                <h2 class="text-center">No Article Found!</h2>
            </div>
        </div>
    </div>
    {% endfor %}
    
</div>
       
        
    
{% endblock %}
